.content-main-container{
  display: flex;
  justify-content: space-between;
  margin-left: 280px;
  margin-top: 20px;
}

.left-content-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 20px;
}

/* Кнопки над таблицами */
.content-btns-container{
  display: flex;
  gap: 15px;
}

.content-btns-container > :nth-child(2) *{
  stroke: white;
}

.content-btns{
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 45px;
  height: 28px;
  border-radius: 4px;
  background-color: var(--color-purple);
}

.content-btns svg{
  width: 24px;
  height: 24px;
}

.content-header-container{
  display: flex;
  justify-content: space-between;
}

.content-header-left{
  display: flex;
  align-items: center;
  gap: 20px;
}

.date-picker{
  display: flex;
  align-items: center;
  gap: 25px;
  height: 30px;
  padding: 1px 14px 1px 14px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 1px 4px 0px rgba(75, 70, 92, 0.2);
}

.date-picker *{
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  border: none;
  color: inherit
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.search::placeholder{
  padding-left: 10px;
}

.search-container{
  position: relative;
}

.search{
  width: 200px;
  height: 30px;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  opacity: .6;  
  border: solid 1px rgba(219, 218, 222, 1);
  border-width: 1px;
  border-radius: 6px;
}

.search-img{
  width: 15px;
  aspect-ratio: 1 / 1;
  position: absolute;
  right: 10px; 
  top: 50%;
  transform: translateY(-50%);
}

/* Горизонтальная группа кнопок */
.btn-group{
  gap: 0; 
  color: white
}

.btn-group *{
  border-radius: 0;
}

.btn-group > :nth-child(1){
  border-radius: 4px 0 0 4px;
}

.btn-group > :last-child{
  border-radius: 0 4px 4px 0;
}

/* Таблицы */
table{
  width: 1000px;  
  background-color: white;
  border: 1px solid rgba(219, 218, 222, 1);
  border-radius: 6px;
  padding-bottom: 5px;
}

.row{
  height: 54px;
}

table > *:not(:last-child) > * {
  border-bottom: 1px solid rgba(219, 218, 222, 1);
}

.isNegative > :last-child{
  color: rgba(234, 84, 85, 1)
}

.column-names{
  font-size: 13px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 1.2px;
  color: rgba(93, 89, 108, 1);
  text-align: left;
  padding-left: 20px;
}

.row-element{
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  padding: 0 15px 0 15px;
  color: var(--text-color);
}

/* Первая колонна толстая */
.secondTable tr th:first-child,
.secondTable tr td:first-child {
    width: 55%;
}

/* В последней строки типа кнопочки делает все элеметы, кроме первой колонны */
.secondTable > :last-child > :not(:first-child) span{
  background-color: rgba(115, 103, 240, 1);
  color: white;
  font-size: 13px;
  padding: 4.90px 9.80px 4.9px 9.80px;
  border-radius: 6px;
}

/* Окошко справа */
.sales-map{
  width: 152px;
  background-color: white;
  margin-right: 20px;
  box-shadow: 0px 1.7px 7.6px 0px
  rgba(75, 70, 92, 0.1);
  border-radius: 2px;
  margin-bottom: 10px;
}

.sales-header-container{
  padding: 10.2px 10.2px 0px 10.2px;
}

.sales-header-text{
  display: flex;
  flex-direction: column;
  gap: 2px;

  font-size: 8px;
  font-weight: 600;
  line-height: 10px;
}

.sales-header-date{
  font-size: 6px;
  font-weight: 400;
  line-height: 8px;
}

.sales-map-elements{
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10.2px;
}

.sales-map-element{
  display: flex;
  justify-content: space-between;
}

.sales-el-text{
  display: flex;
  flex-direction: column;
  font-size: 6px;
  font-weight: 600;
  line-height: 9px;
}

.sales-name{
  font-size: 6px;
  font-weight: 400;
  line-height: 8px;
}

.isProfit .sales-el-value{
  color: rgba(40, 199, 111, 1);
}

.nonProfit .sales-el-value{ 
  color: rgba(234, 84, 85, 1);
}

.sales-el-value{
  display: flex;
  align-items: center;
  font-size: 6px;
  font-weight: 600;
  line-height: 9px;
}