.content-main-container{
  height: 60vh;
  margin-left: 280px;
  margin-top: 20px;
}

.content-btns-container{
  display: flex;
  gap: 15px;
}

.content-btns-container > :nth-child(2) *{
  stroke: white;
}

.content-btns{
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 45px;
  height: 28px;
  border-radius: 4px;
  background-color: var(--color-purple);
}

.content-btns svg{
  width: 24px;
  height: 24px;
}
