#header-container{
  height: 98px;
  margin-left: 260px;
  background-color: var(--container-bg-color);
}

#header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 26px 0 26px;
}

.header-inner-container{
  display: flex;
  align-items: center;
  gap: 20px
}

#header-right-container{
  gap: 30px
}

#indent-decrease{
  display: block;
  width: 24px;
  height: 24px;
}

.filials-button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
  width: 156px;
  height: 38px;
  border-radius: 6px;
  background-color: rgba(115, 103, 240, 0.08);
}

.filials-button span{
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  color: rgba(115, 103, 240, 1)
}

#filials-dropdown{
  stroke: rgba(115, 103, 240, 1) !important;
}

/* Контейнер с валютами */
.exchange-rate{
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  column-gap: 20px; 
}

#currency-element{
  display: flex;
  align-items: center;
  gap: 3px
}

#currency-element svg{
  width: 20px;
  height: 20px;
}

#currency-value{
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
}

/* Инфа о финансах в хэдере */
#fin-info-container{
  display: flex;
  gap: 15px
}

.header-fin-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100px;
  max-width: 100px;
  height: 39px;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  background-color: rgba(115, 103, 240, 0.16);
  color: rgba(115, 103, 240, 1);
}

.default *{
  stroke: rgba(115, 103, 240, 1);
}

.red{
  background-color: rgba(234, 84, 85, 0.16);
  color: rgba(234, 84, 85, 1);
}

.green{
  background-color: rgba(40, 199, 111, .16);
  color: rgba(40, 199, 111, 1)
}

.header-fin-info-text{
  font-size: 10px;
  font-weight: 600;
  line-height: 14px;
}

.header-fin-info-text svg{
  width: 10px  !important;
  height: 10px !important;
}

.header-fin-info-value{
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
}

/* Иконки и профиль */
.header-icons-container{
  display: flex;
  align-items: center;
  gap: 15px
}

.avatar-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  width: 38px;
  aspect-ratio: 1 / 1;
  background: rgba(115, 103, 240, 1) url("../imgs/Avatar.png");
  border-radius: 50%;
}

/* Навигация, нижняя часть хэдера */
#nav-tabs{
  display: flex;
  align-items: center;
  gap: 10px;

  /* color: var(--color-purple); */
  color: var(--text-color);
  height: 38px;
  border-bottom: 1px solid rgba(219, 218, 222, 1);
}

.nav-element{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  width: 84px;
  height: 38px;
  border-radius: 6px 0px 0px 0px;
}

.activeNav{
  color: var(--color-purple)
}

.activeNav *{
  stroke: var(--color-purple);
}